**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.env
**/.env.local
**/node_modules
**/.nuxt
**/.output
**/dist
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/docker-compose*.yml
**/Dockerfile
**/.vscode
**/.idea
**/*.log
**/logs
**/.DS_Store
**/Thumbs.db
